.container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.input {
  width: clamp(400px, 40%, 50%);
  border-radius: 10px;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid gray;
  color: gray;
  box-shadow: 1px 1px 10px -4px gray;
}

.button {
  font-size: 1rem;
  padding: 0.4rem 0.5rem;
  border-radius: 10px;
  color: white;
  background-color: salmon;
  cursor: pointer;
  border: 1px solid salmon;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 10px -3px rgb(251, 101, 84);
}

.button:hover {
  background-color: rgb(251, 101, 84);
  border: 1px solid white;
  transition: all 0.2s ease-in-out;
}
